body {
    background-color: darkgray;
}

#search-bar {
    width: 100%;
    display: flex;
    justify-content: center;
}

#search-input {
    width: 80%;
    font-size: 20px;
    border-radius: 5px;
}

#root {
    justify-content: center;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.none {
    display: none !important;
}

.location-container {
    background-color: white;
    height: 100%;
    border-radius: 25px;
    padding: 0 7px 7px 7px;
}

.location-header {
    font-size: 24px;
    text-align: center;
}

.header {
    display: flex;
}

.header-text {
    font-size: 18px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.phone {
    width: 95px;
}

.phone-data-row {
    display: flex;
}

.phone-data-row:hover {
    border-bottom: 1px solid black;
}

.phone-data-row > div {
    font-size: 18px;
}